* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.product {
  width: 20%;
  height: 100px;
  margin: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 10%;
  text-decoration: none;
  color: black;
}

.product:hover {
  scale: 1.1;
}

.product img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.product a {
  text-decoration: none;
  color: black;
}

.product h3 {
  text-decoration: none;
  padding: 10px;
}

#description {
  font-size: 10px;
  margin: 0 10px;
  color: rgb(175, 175, 175);
  letter-spacing: 2px;
}

#price {
  font-size: 10px;
  margin: 2px 10px;
  color: rgb(255, 0, 0);
  letter-spacing: 2px;
  text-decoration: line-through;
}

#discounted_price {
  font-size: 16px;
  margin: 2px 10px;
  color: rgb(0, 255, 0);
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .product {
    width: 40%;
  }
}
