* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #2a2a2a; */
  font-family: "Poppins", sans-serif;
}

section h2 {
  font-weight: 600;
  margin: 20px;
  letter-spacing: 3px;
}

.card {
  width: 20%;
  margin: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 10%;
}

.card:hover {
  scale: 1.1;
}

.image_caption {
  text-align: center;
  margin: 13px 0 0 0;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.sub_caption {
  text-align: center;
  margin: 5px 0 3px 0;
  letter-spacing: 1px;
  font-size: 0.7rem;
  color: #4fe14f;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.parent_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  background-color: #2a2a2a;
  color: #fff;
  padding: 50px;
  margin-top: 20px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer_content_left {
  width: 50%;
  display: flex;
}

.footer_content_left p {
  margin-bottom: 10px;
}

.footer_content_right img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.login {
  position: fixed;
  display: none;
  width: 40%;
  height: 80%;
  background-color: #fff;
  top: 10%;
  left: 30%;
  border-radius: 20px;
  background-image: url("/images/background_login.jpg");
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  background: #fff;
}

.login form label {
  margin-right: 20px;
  margin-left: 50px;
}

.login form input {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.login form button {
  width: 100%;
  padding: 10px;
  background-color: #4fe14f;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin: auto;
  letter-spacing: 2px;
}

#close {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}

.signup {
  width: 60%;
  display: flex;
  margin: auto;
  margin-top: -10px;
  padding: 30px;
}

.left_panel {
  width: 50%;
}

.left_panel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.right_panel {
  width: 50%;
  background-color: #fff;
  padding: 10px;
}

.right_panel h4,
h6 {
  text-align: center;
  margin-bottom: 10px;
}
.right_panel form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  background: #fff;
}
.right_panel form label {
  margin-right: 5px;
  font-size: small;
  color: rgb(165, 165, 165);
  letter-spacing: 2px;
  font-weight: 100;
}

.right_panel form input {
  padding: 10px;
  border-bottom: 3px solid #000000 !important;
  border: none;
}

.right_panel form button {
  width: 50%;
  padding: 10px;
  background-color: #4fe14f;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin: auto;
  letter-spacing: 2px;
  cursor: pointer;
}
#response {
  color: red;
  text-align: center;
}
@media (max-width: 768px) {
  .card {
    width: 40%;
    margin: 5px;
  }
  .image_caption {
    font-size: 10px;
  }
  .sub_caption {
    font-size: 8px;
  }
  .footer_content_right img {
    width: 20%;
    height: 20%;
  }
  .footer_content {
    display: block;
  }
  .footer_content_left {
    font-size: 10px;
  }
  .login {
    width: 80%;
    height: 50%;
    top: 10;
    left: 10%;
  }
  .login form label,
  .login form input {
    margin-left: 40px;
  }
  .left_panel {
    display: none;
  }
  .right_panel {
    width: 100%;
  }
}
