<a class="card" href="/category/{{category}}">
    <h4 class="image_caption">
        {{ category }}
    </h4>
    <p class="sub_caption">
        {{ offer }}
    </p>
    <img src={{banner}} class="image" />
</a>