<footer>
    <h2 class="heading">
        TrendBreeze
    </h2>
    <div class="footer_content">
        <div class="footer_content_left">
            <div>
                <h3>
                    About Us
                </h3>
                <p>
                    This website is created by @lakshyarawat1 for the purpose of learning.
                </p>
            </div>
           <div>
            <h3>
                Contact Us
            </h3>
            <p>
                Contact Us on any of the social media platforms or email us at: <br><br>
                lakshya.paramount@gmail.com
            </p>
           </div>
        </div>
        <div class="footer_content_right">
            <h3>
                Follow Us
            </h3>
            <div class="social_media">
                <a href="#">
                    <img src="/images/facebook.png" alt="facebook">
                </a>
                <a href="#">
                    <img src="/images/instagram.png" alt="instagram">
                </a>
                <a href="#">
                    <img src="/images/twitter.png" alt="twitter">
                </a>
            </div>
        </div>
</footer>