<nav id="navbar">
    <a href="#">
        <img src="/images/logo.jpg" class="logo" />
    </a>
    <h1 class="name">
        TrendBreeze
    </h1>
    <a>
        <p>Offers</p>
    </a>
    <a>
        <p>Stories</p>
    </a><a>
        <p>Plus Member</p>
    </a>
    <form>
        <input type="text" placeholder="Search products here " />
    </form>
    <a>
        <p>40001</p>
    </a>
    <a>
        {{!-- <p>Profile</p> --}}
        <img src="/images/profile.png" class="profile" />
    </a>
    <a>
        <p>
            Cart
        </p>
    </a>
</nav>